* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainWhite: #fff;
$mainBlack: #222;
$mainGrey: #ececec;
$mainGreen: #82b340;
$mainTransition: all 0.3s linear;

body {
  font-family: 'Open Sans', sans-serif;
  background: $mainWhite;
  color: $mainBlack;
}
